*{
    margin:0;
    padding:0;
}
.circle_around{
    background-color: rgb(161, 233, 28);
    width: 100px;
    height:100px;
    border-radius: 50%;
    animation: move 5s infinite;
    
}
@keyframes move{
    0%{
        transform: translate(0vw);
    }
    25%{
        transform: translate(calc(100vw - 100px));
    }
    50%{
        transform: translate(calc(100vw - 100px),calc(100vh - 100px));
    }
    75%{
        transform: translate(0vw,calc(100vh - 100px));
    }
    100%{
        transform: translate(0vw);
    }

}
.center{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
}
.circle_loading{
    width: 30px;
    height:30px;
    border:10px solid red;
    border-radius: 50%;
    animation: loading 1s infinite;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
@keyframes loading{
    100%{
        transform: rotate(360deg);
    }

}